.CentralizarTudo {

    height: 100%;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

.ConfirmButton {
    background-color: #2cb959;
    width: 240px;
    height: 50px;
    border-radius: 10px; 
    border-style: none;
    border-width: none; 
    color: white;
}

.ConfirmButton:hover {
    transform: translateY(-1px);
}

.ConfirmButton:focus {
    animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;

}

@keyframes example {
    from {width: 240px; }
    to {width: 50px;  }
  }

  @keyframes example2 {
    from {width: 50px; }
    to {width: 240px;  }
  }